<div id="container" ng-controller="EditModelController">
  <div class="title-container">
    <div class="section1 auto-vertical left block">
      <h1 class="ft-20 ml-15"> Model
        <span class="entity-name ft-13"> {{ contextNode.label}} </span>
      </h1>
    </div>
    <div class="section2 auto-vertical  block">
      <p class="ml-15 ft-13"> 
        <span>
          <button id="delete" class="">Delete model</button>
        </span>
        <span>
          <button id="save" class="button-save mt-5"> Save </button>
        </span>
      </p>
    </div>
  </div>
  <div class="name">
    <h3 class="ft-13">
      Name
      <span>
        <input class="input-text border-bottom ml-15" type="text" placeholder="Name" value=" {{ contextNode.skObject.model._entity.name }} "/>
      </span>
    </h3>
  </div>
  <div class="attributes name">
    <h3 class="ft-13">
      Attributes:
    </h3>
    <p ng-repeat= "attr in contextNode.skObject.model._entity._attrs">
      <span>
        <input class="input-text-attr border-bottom ml-15" type="text"
          value=" {{ attr.name }}" placeholder="Name" />
      </span>
      <span>
        <select class="input-text-attr border-bottom ml-15" placeholder="Type" value="{{ attr.type }}" >
            <option value="" disabled>Type</option>
            <option value="String">String</option>
            <option value="Number">Number</option>
            <option value="Date">Date</option>
            <option value="Boolean">Boolean</option>
            <option value="Integer">Integer</option>
            <option value="Decimal">Decimal</option>
            <option value="Custom">Custom</option>
        </select>
      </span>
      <span>
        <button id="required" class=" ml-15"> Required </button>
      </span>
      <span>
        <button id="unique" class=" ml-15"> Unique </button>
      </span>
      <span>
        <button id="enumeration" class=" ml-15"> Enumeration </button>
      </span>
    </p>
  </div>
  <div class="relation">
    <h3 class="ft-13">
      Relation:
    </h3>
    <p class="relations" ng-repeat="rel in contextNode.skObject.model._entity._relations">
      Type
      <span>
        <select class="input-text-attr border-bottom ml-15 mr-15" placeholder="Type" value="{{ rel.type }}">
          <option value="m:m">m:m</option>
          <option value="1:m">1:m</option>        
        </select>
      </span>
      Name
      <span>
        <input class="input-text-attr border-bottom ml-15 mr-15" type="text"
          value=" {{ rel.name }} " placeholder="Name">
      </span>
      <span>
        <button id="required" class="button-required"> Required </button>
      </span>
  </div>
</div>