<div id="container" ng-controller="EditPageController">
    <div class="title-container">
        <div class="section1 auto-vertical left block">
            <h1 class="ft-20 ml-15"> Page
                <span class="entity-name ft-13"> {{ page.label}} </span>
            </h1>
        </div>
        <div class="section2 auto-vertical  block">
            <p class="ml-15 ft-13">
                <span>
                    <button id="delete" class="">Delete page</button>
                </span>
                <span>
                    <button id="save" class="button-save mt-5"> Save </button>
                </span>
            </p>
        </div>
    </div>
    <div class="name">
        <h3 class="ft-13">
            Name
            <span>
                <input class="input-text border-bottom ml-15" type="text" placeholder=" {{ page.page.name }}">
            </span>
        </h3>
    </div>
    <div class="name">
        <h3 class="ft-13">
            Url
            <span>
                <input class="input-text border-bottom ml-15" type="text" placeholder=" {{ page.page.url }}">
            </span>
        </h3>
    </div>
    <div class="name">
        <h3 class="ft-13">
            Roles
            <span>
                <select class="input-text-attr border-bottom ml-15" placeholder="Roles" ng-model="page.page._roles"
                    value="{{ page.page._roles">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
            </span>
        </h3>
    </div>
    <div class="name">
        <h3 class="ft-13">
            Link
            <span>
                <select class="input-text-attr border-bottom ml-15" placeholder="Link" ng-model="page.page._links"
                    value="{{ page.page._links">
                    <option ng-repeat="link in page.page._links" value="link.name">{{ link.name }}</option>
                </select>
            </span>
        </h3>
    </div>
    <div class="name">
        <h3 class="ft-13">
                Nesteds
            <span>
                <select class="input-text-attr border-bottom ml-15" placeholder="Link" ng-model="page.page.__nesteds"
                        value="{{ page.page._nesteds">
                    <option ng-repeat="nested in page.page._nesteds" value="nested.name">{{ nested.name }}</option>
                </select>
            </span>
        </h3>
    </div>
</div>