// Generic rules
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Margins
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
  display: inline-block;
}

.ml-30 {
  margin-left: 30px;
}
