// Generic rules
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

body {
  min-width: 400px;
}

// Logo
.logo {
  width: 200px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../img/logo_white.svg);
  background-image-size-y: 30px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 40px;
}

// Margins
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px !important;
}


.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
  display: inline-block;
}

.ml-30 {
  margin-left: 30px;
}
