// Input
.form-group {
  margin-top: 10px;
  margin-bottom: 25px;


  .label-model {
    font-size: 12px;
    color: white;
    font-weight: normal;
    display: inline;
    position: absolute;
    
  }

  label {
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }

  select {
    background-color: #4e4f56;
    color: $light-gray;
    width: 50%;
    height: 33px;
    padding: 3px 7px;
    font-size: small;
  }

  .button-add {
    font-weight: normal !important;
    margin-left: 20px !important;
  }
}

input {
  background-color: #4e4f56;
  color: $light-gray;
  border: none;
  font-size: small;
  padding: 3px 7px;
  height: 25px;
  &:focus {
    outline: 0;
  }
}

.input-name {
  width: 90%;
}

// Textarea
textarea {
  background-color: #4e4f56;
  color: $light-gray;
  border: none;
  font-size: small;
  padding: 3px 7px;
  height: 60px;
  &:focus {
    outline: 0;
  }
}

// Button
button {
  background-color: $light-gray;
  color: $dark-gray;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-size: small;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $light-gray2;
  }
}

.primary-button {
  background-color: $blu-light !important;
  color: white !important;
  border: none !important;

  &:hover {
    background-color: $button-bg-hover;
  }
}

// files button
.files-button {
  background-image: url("../img/dark/files.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position-y: 5px;
  background-position-x: 5px;
  padding-left: 30px;
  background-color: transparent;
  color: $light-gray2;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

body.vscode-light {
  .files-button {
    background-image: url("../img/light/files.svg");
  }
}

//CRUD button

.crud-button {
  background-color: transparent;
  color: $light-gray2;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

// Delete button
.delete-button {
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-y: 4px;
  background-position-x: 5px;
  padding-left: 30px;
  color: $red-delete-btn;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
}

// Badge
.badge {
  background-color: $light-gray;
  color: $dark-gray;
  display: inline-block;
  padding: 3px 6px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 10px;

  .resource-name {
    font-weight: bold;
    color: black;
  }

  .service-name {
    font-weight: normal;
  }

  &.public {
    background-color: $green-light;

    .service-name {
      color: $green-dark;
    }
  }

  &.post {
    background-color: $blu-light;

    .service-name {
      color: $blu-dark !important;
    }
  }

  &.get {
    background-color: $green-light;

    .service-name {
      color: $green-dark !important;
    }
  }

  &.delete {
    background-color: $red-light;

    .service-name {
      color: $red-dark;
    }
  }

  &.option {
    background-color: $yellow-light;

    .service-name {
      color: $yellow-dark;
    }
  }

  &.patch {
    background-color: $yellow-light;

    .service-name {
      color: $yellow-dark;
    }
  }

  &.put {
    background-color: $blu-light;

    .service-name {
      color: $blu-dark;
    }
  }
}

// Select
select {
  background-color: $mid-gray;
  color: $light-gray;
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: calc(100% + 15px);
  max-width: 415px;
  border-radius: 0px !important;

  &:focus {
    outline: 0;
  }
}

// Icons
.ico-remove {
  background-image: url(../img/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 5px;
}
