// Input
.form-group {
  margin-top: 10px;
  margin-bottom: 25px;

  label {
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
}

input {
  background-color: $mid-gray;
  color: $light-gray;
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: 100%;
  max-width: 400px;
  &:focus {
    outline: 0;
  }
}

// Textarea
textarea {
  background-color: $mid-gray;
  color: $light-gray;
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: 100%;
  max-width: 400px;
  height: 60px;
  &:focus {
    outline: 0;
  }
}

// Button
button {
  background-color: $light-gray;
  color: $dark-gray;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-size: small;

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: $light-gray2;
  }
}

.primary-button {
  background-color: $button-bg;
  color: $button-text;

  &:hover {
    background-color: $button-bg-hover;
  }
}

// Delete button
.delete-button {
  background-color: transparent;
  color: $red;
  font-weight: bold;

  &:hover {
    background-color: $red-hover;
  }
}

// Badge
.badge {
  background-color: $light-gray;
  color: $dark-gray;
  display: inline-block;
  padding: 3px 6px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 10px;

  .resource-name {
    font-weight: bold;
  }

  .service-name {
    color: $light-gray;
    font-weight: normal;
  }
  &.public {
    background-color: $green;
  }
  &.post {
    background-color: $blu-post;
  }
  &.get {
    background-color: $green-get;
  }
  &.delete {
    background-color: $red-delete;
  }
  &.option {
    background-color: $yellow-option;
  }
  &.path {
    background-color: $yellow-option;
  }
  &.put {
    background-color: $blu-post;
  }
}

// Select
select {
  background-color: $mid-gray;
  color: $light-gray;
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: calc(100% + 15px);
  max-width: 415px;
  border-radius: 0px !important;

  &:focus {
    outline: 0;
  }
}

// Icons
.ico-remove {
  background-image: url(../img/x.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 5px;
}
