.attr-container {
  .btn-attr {
    display: inline-block;
    margin-right: 10px;

    button {
      margin-top: 10px;
      margin-right: 10px;
      border: 1px solid white;
      background-color: transparent;
      color: #757575;
    }
  }

  .remove-attr {
    display: inline-block;
  }

  .enum-container {
    input {
      width: 70%;
    }
  }
}

.rel-container {
  .select-rel {
    width: 20% !important;
    margin-right: 20px;
  }
  .btn-rel {
    display: inline-block;
    margin-right: 10px;

    button {
      margin-top: 10px;
      margin-right: 10px;
      border: 1px solid white;
      background-color: transparent;
      color: #757575;
    }
  }

  .remove-rel {
    display: inline-block;
  }
}