.attr-container {
  .btn-attr {
    display: inline-block;
    margin-right: 10px;

    button {
      margin-top: 10px;
    }
  }

  .remove-attr {
    display: inline-block;
  }

  .enum-container {
    input {
      width: 70%;
    }
  }
}

.rel-container {
  .btn-rel {
    display: inline-block;
    margin-right: 10px;

    button {
      margin-top: 10px;
    }
  }

  .remove-rel {
    display: inline-block;
  }
}
