.export {
  .error {
    color: $red;
  }

  .create {
    color: $green-get;
  }

  .update {
    color: $blu-post;
  }

  .delete {
    color: $red-delete;
  }
}

.report-generation {
  h1 {
  }

  .file-result {
    margin-left: 15px;
  }

  .file-result.elaborated {
    margin-left: 0px;
  }

  .file-result.elaborated label {
    color: $light-gray;
  }

  .file-result.edit label {
    color: $blu-post;
  }

  .file-result.created label {
    color: $green-get;
  }

  .file-result.error label {
    color: $red-delete;
  }

  .file-result label {
    width: 100px;
    font-weight: bold;
    display: inline-block;
  }

  .file-result .file-name {
    display: inline-block;
  }
}
