.report-generation {
  h1 {
  }

  .file-result {
    margin-left: 15px;
  }

  .file-result.elaborated {
    margin-left: 0px;
  }

  .file-result.elaborated label {
    color: #dadada;
  }

  .file-result.edit label {
    color: #0078ce;
  }

  .file-result.created label {
    color: green;
  }

  .file-result.error label {
    color: red;
  }

  .file-result label {
    width: 100px;
    font-weight: bold;
    display: inline-block;
  }

  .file-result .file-name {
    display: inline-block;
  }
}
