.pull-right {
  float: right; }

.pull-left {
  float: left; }

body {
  min-width: 400px; }

.logo {
  width: 200px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../img/logo_white.svg);
  background-image-size-y: 30px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 40px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.ml-10 {
  margin-left: 10px; }

.ml-20 {
  margin-left: 20px;
  display: inline-block; }

.ml-30 {
  margin-left: 30px; }

.form-group {
  margin-top: 10px;
  margin-bottom: 25px; }
  .form-group label {
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
    display: block; }

input {
  background-color: var(--vscode-editorIndentGuide-background);
  color: var(--vscode-editor-foreground);
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: 100%;
  max-width: 400px; }
  input:focus {
    outline: 0; }

textarea {
  background-color: var(--vscode-editorIndentGuide-background);
  color: var(--vscode-editor-foreground);
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: 100%;
  max-width: 400px;
  height: 60px; }
  textarea:focus {
    outline: 0; }

button {
  background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background);
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-size: small; }
  button:focus {
    outline: 0; }
  button:hover {
    background-color: var(--vscode-input-placeholderForeground); }

.primary-button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground); }
  .primary-button:hover {
    background-color: var(--vscode-button-hoverBackground); }

.delete-button {
  background-color: transparent;
  color: #f55448;
  font-weight: bold; }
  .delete-button:hover {
    background-color: var(--vscode-inputValidation-errorBackground); }

.badge {
  background-color: var(--vscode-editor-foreground);
  color: var(--vscode-editor-background);
  display: inline-block;
  padding: 3px 6px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 8px;
  margin-top: 10px; }
  .badge .resource-name {
    font-weight: bold; }
  .badge .service-name {
    color: var(--vscode-editor-foreground);
    font-weight: normal; }
  .badge.public {
    background-color: #58b75c; }
  .badge.post {
    background-color: #4895fa; }
  .badge.get {
    background-color: #80d4a0; }
  .badge.delete {
    background-color: #f55448; }
  .badge.option {
    background-color: #ffb858; }
  .badge.path {
    background-color: #ffb858; }
  .badge.put {
    background-color: #4895fa; }

select {
  background-color: var(--vscode-editorIndentGuide-background);
  color: var(--vscode-editor-foreground);
  border: none;
  font-size: small;
  padding: 3px 7px;
  width: calc(100% + 15px);
  max-width: 415px;
  border-radius: 0px !important; }
  select:focus {
    outline: 0; }

.ico-remove {
  background-image: url(../img/x.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 5px; }

.container-content {
  padding: 5px 30px;
  padding-bottom: 80px; }

.title-container {
  background-color: var(--vscode-editorIndentGuide-background);
  padding: 10px 30px;
  margin-top: 25px;
  font-weight: bold; }
  .title-container .title-topic {
    font-size: x-large;
    color: var(--vscode-input-placeholderForeground); }
  .title-container .title-text {
    font-size: medium;
    color: var(--vscode-editor-foreground);
    margin-left: 10px; }

.footer {
  background-color: var(--vscode-editorIndentGuide-background);
  width: 100%;
  padding: 10px 30px;
  position: fixed;
  bottom: 0px;
  left: 0px; }

.attr-container .btn-attr {
  display: inline-block;
  margin-right: 10px; }
  .attr-container .btn-attr button {
    margin-top: 10px; }

.attr-container .remove-attr {
  display: inline-block; }

.attr-container .enum-container input {
  width: 70%; }

.rel-container .btn-rel {
  display: inline-block;
  margin-right: 10px; }
  .rel-container .btn-rel button {
    margin-top: 10px; }

.rel-container .remove-rel {
  display: inline-block; }

.export .error {
  color: var(--vscode-inputValidation-errorBorder); }

.export .create {
  color: #80d4a0; }

.export .update {
  color: #4895fa; }

.export .delete {
  color: #f55448; }

.report-generation .file-result {
  margin-left: 15px; }

.report-generation .file-result.elaborated {
  margin-left: 0px; }

.report-generation .file-result.elaborated label {
  color: var(--vscode-editor-foreground); }

.report-generation .file-result.edit label {
  color: #4895fa; }

.report-generation .file-result.created label {
  color: #80d4a0; }

.report-generation .file-result.error label {
  color: #f55448; }

.report-generation .file-result label {
  width: 100px;
  font-weight: bold;
  display: inline-block; }

.report-generation .file-result .file-name {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */