// Colors
$light-gray: var(--vscode-editor-foreground);
$light-gray2: var(--vscode-input-placeholderForeground);
$mid-gray: var(--vscode-editorIndentGuide-background);
$dark-gray: var(--vscode-editor-background);
$button-bg: var(--vscode-button-background);
$button-bg-hover: var(--vscode-button-hoverBackground);
$button-text: var(--vscode-button-foreground);
$red: var(--vscode-inputValidation-errorBorder);

$input-bg: var(--vscode-input-background);
$input-foreground: var(--vscode-input-foreground);

$blu-light: #388CFF;
$blu-dark: #163D77;
$red-light: #FF423D;
$red-dark: #842422;
$yellow-light: #FFB958;
$yellow-dark: #B46A02;
$green-light: #60DB9B;
$green-dark: #337151;

$red-delete-btn: #ea6661;
$green: #58b75c;
$blu-post: #4895fa;
$green-get: #80d4a0;
$red-delete: #f55448;
$yellow-option: #ffb858;

// Imports
@import "./common.scss";
@import "./components.scss";
@import "./layout.scss";
@import "./model.scss";
@import "./reportGeneration.scss";
