body.vscode-dark {
  color: #1E1E1E;
}

// webView EditModel

.container-model {
  .name {
    h3 {
      min-width: 100px;
    }

    .inline-block {
      display: inline-block;
    }

    .input-model-name {
      border: none;
      width: 100%;
      background-color: #3C3C3C;
      font-size: 13px;
    }
  }
  .input-model {
    border: none;
    width: 20%;
    background-color: #3C3C3C;
    font-size: 13px;
  }
}

.input-desc {
  background-color: transparent;
  font-size: 13px;
}

// webView EditAPI

.container-api {
  
  .name {
    h3 {
      min-width: 100px;
    }

    .inline-block {
      display: inline-block;
    }
  }
  .button-param {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
  }
  
  .input-api {
    border: none;
    width: 100%;
    background-color: #3C3C3C;
    font-size: 13px;
  }
}

//webView EditPage

.container-page {
  
  .name {
    h3 {
      min-width: 100px;
    }

    .inline-block {
      display: inline-block;
    }
  }
  .button-param {
    background-color: transparent;
    color: white;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid white;
  }
  
  .input-page {
    border: none;
    width: 100%;
    background-color: #3C3C3C;
    font-size: 13px;
    color: white;
  }
  .label-public {
    background-color: green;
    font-size: 10px;
    height: 10px !important;
    width: 20px !important;
  }
  
  .label-private {
    background-color: red;
    font-size: 13px;
    border-radius: 20px;
    height: 20px !important;
    width: 60px !important;
  }
}
