<div class="container-page" ng-controller="EditPageController">
  <div class="title-container">
    <span class="title-topic">
      Page
    </span>
    <span class="title-text"> {{ page.label}} </span>
  </div>

  <div class="container-content">
    <div class="form-group">
      <label>
        Name
      </label>
      <div>
        <input ng-model="page.page.name" type="text" placeholder="Name" />
      </div>
    </div>

    <div class="form-group">
      <label>
        URL
      </label>
      <div>
        <input ng-model="page.page.url" type="text" placeholder="URL" />
      </div>
    </div>

    <div>
      <h3>
        Roles
      </h3>
      <div class="badge public" ng-if="!page.page._roles">Public</div>
      <div class="badge" ng-if="page.page._roles.length == 0">Private</div>
      <div class="badge" ng-repeat="role in page.page._roles">{{role.name}}</div>
    </div>
    <div class="name">
      <h3 class="ft-13 inline-block">
        Link
      </h3>
      <div class="inline-block" ng-repeat="links in page.page._links ">
        <div class="link inline-block">
          {{ links.name }}
        </div>
      </div>
      <div class="inline-block">
        <select placeholder="Link" ng-model="page.prova">
          <option ng-repeat="link in page.api" value="link.name">{{ link.name }}</option>
        </select>
      </div>
      <div class="inline-block">
        <button id="add-link" class="button-param mt-5">Add linked</button>
      </div>
    </div>
    <div class="name">
      <h3 class="ft-13 inline-block">
        Nesteds
      </h3>
      <div class="inline-block" ng-repeat="nesteds in page.page._nesteds ">
        <div class="nested inline-block">
          {{ nesteds.name }}
        </div>
      </div>
      <div class="inline-block">
        <select class="input-page ml-15" placeholder="Nested" ng-model="page.page.__nesteds" value="{{ page.page._nesteds }}">
          <option ng-repeat="nested in page.api" value="nested.name">{{ nested.name }}</option>
        </select>
      </div>
      <div class="inline-block">
        <button id="add-nesteds" class="button-param mt-5">Add nested</button>
      </div>
    </div>
  </div>

  <div class="footer">
    <button class="primary-button" ng-click="save()">Save</button>
    <button class="delete-button" ng-click="delete()">Delete</button>
  </div>
</div>
