<div class="container-page" ng-controller="EditDbController">
  <div class="title-container">
    <span class="title-topic">
      Database
    </span>
    <span class="title-text"> {{ db.name}} </span>
  </div>

  <div class="container-content">
    <div class="form-group">
      <label>
        Name
      </label>
      <div>
        <input ng-model="db.name" type="text" placeholder="Name" />
      </div>
    </div>

    <div class="footer">
      <button class="primary-button" ng-click="save()">Save</button>
      <button class="delete-button" ng-click="delete()">Delete</button>
      <button class="secondary-button" ng-click="openFiles()">Open related files</button>
    </div>
  </div>
</div>
