<div class="container-page" ng-controller="EditPageController">
  <div class="title-container">
    <span class="title-topic">
      Page
    </span>
    <span class="title-text"> {{ page.page.name}} </span>
  </div>

  <div class="container-content">
    <div class="form-group">
      <label>
        Name
      </label>
      <div>
        <input ng-model="page.page.name" type="text" placeholder="Name" />
      </div>
    </div>

    <div class="form-group">
      <label>
        URL
      </label>
      <div>
        <input ng-model="page.page.url" type="text" placeholder="URL" />
      </div>
    </div>

    <div class="form-group">
      <label>
        Roles
      </label>
      <div>
        <div class="badge public" ng-if="!page.page._roles">Public</div>
        <div class="badge" ng-if="page.page._roles.length == 0">Private</div>
        <div ng-repeat="role in page.page._roles">
          <div class="badge">
            {{role.name}}
            <div class="ico-remove" ng-click="removeRole($index)"></div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <a href="" ng-click="addRole()">Add role</a>
      </div>
    </div>

    <div class="form-group">
      <label>
        Link
      </label>
      <div>
        <div ng-repeat="link in page.page._links">
          <div class="badge">
            {{link.name}}
            <div class="ico-remove" ng-click="removeLink($index)"></div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <a href="" ng-click="addLinked()">Add linked</a>
      </div>
    </div>

    <div class="form-group">
      <label>
        Nesteds
      </label>
      <div>
        <div ng-repeat="nesteds in page.page._nesteds ">
          <div class="badge">
            {{ nesteds.name }}
            <div class="ico-remove" ng-click="removeNested($index)"></div>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <a href="" ng-click="addNested()">Add nested</a>
      </div>
    </div>
  </div>

  <div class="footer">
    <button class="primary-button" ng-click="save()">Save</button>
    <button class="delete-button" ng-click="delete()">Delete</button>
    <button class="secondary-button" ng-click="openFiles()">Open related files</button>
  </div>
</div>