<div class="container-page" ng-controller="EditModelController">
  <div class="title-container">
    <span class="title-topic">
      Model
    </span>
    <span class="title-text"> {{ model.name}} </span>
  </div>

  <div class="container-content">
    <div class="form-group mt-30">
      <label>
        Name
      </label>
      <div>
        <input class="input-name" ng-model="model.name" type="text" placeholder="Name" />
      </div>
      <div class="mt-30">
        <hr />
      </div>
    </div>

    <!-- Attributes -->

    <div class="form-group">
      <label>
        Attributes
          <a class="button-add" href="" ng-click="addAttr()">Add Attribute</a>
      </label>
      <div ng-repeat="attr in model._entity._attrs" class="attr-container mt-30">

        <div class="mt-10">
          <input class="mt-20 mr-20" type="text" ng-model="attr.name" placeholder="Name" />
          <select class="mt-20" placeholder="Type" ng-model="attr.type">
            <option value="" disabled>Type</option>
            <option value="String">String</option>
            <option value="Number">Number</option>
            <option value="Date">Date</option>
            <option value="Boolean">Boolean</option>
            <option value="Integer">Integer</option>
            <option value="Decimal">Decimal</option>
            <option value="Custom">Custom</option>
          </select>
        </div>
        <div class="mt-10">
          <div class="btn-attr">
            <button ng-class="{'primary-button':attr.required }"
              ng-click="attr.required=!attr.required">Required</button>
            <button ng-class="{'primary-button':attr.unique }" ng-click="attr.unique=!attr.unique">Unique</button>
            <button ng-class="{'primary-button':attr._enum.length > 0 }"
              ng-click="showEnums = !showEnums">Enumeration</button>
          </div>

          <div class="remove-attr">
            <a href="" ng-click="removeAttr($index)">Remove attribute</a>
          </div>
        </div>
        <div class="mt-10" ng-show="showEnums">
          <label ng-if="attr._enum.length > 0">Enumeration values</label>

          <div class="mt-10 enum-container" ng-repeat="enum in attr._enum">
            <input ng-model="enum.name" />
            <a href="" ng-click="removeEnum($index, attr)">Remove</a>
          </div>

          <div class="mt-10">
            <a href="" ng-click="attr = addEnum(attr)">Add enumeration value</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-30">
      <hr />
    </div>

    <!-- Relations -->

    <div class="form-group">
      <label>
        Relations
        <a class="button-add" href="" ng-click="addRel()">Add Relation</a>
      </label>
      <div ng-repeat="rel in model._entity._relations" ng-if="!rel._id || model._id === rel._ent1._resource._id"
        class="rel-container mt-30">

        <div class="mt-10">
          <select  class="select-rel mt-20 ml-0" placeholder="Type" ng-model="rel.type">
            <option value="" disabled>Type</option>
            <option value="m:m">m:m</option>
            <option value="1:m">1:m</option>
          </select>
          <input class="mt-20 mr-20" type="text" ng-model="rel.name" placeholder="Name" />
          <select class="select-rel mt-20" placeholder="Type" ng-model="rel._ent2.name">
            <option value="" disabled>Model</option>
            <option ng-repeat="mod in model_list" ng-value="mod.name">{{mod.name}}</option>
          </select>
          <div class="btn-rel">
            <button ng-class="{'primary-button':rel.required }" ng-click="rel.required=!rel.required">Required</button>
          </div>
        </div>
        <div class="mt-10">
          <div class="remove-rel">
            <a href="" ng-click="removeRel($index)">Remove relation</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-30">
      <hr />
    </div>

    <!-- API -->
    <div class="form-group">
      <label>
        Base URL
      </label>
      <div>
        <input ng-model="model.url" type="text" placeholder="URL" />
      </div>
      <label class="mt-10">
        API
      </label>
      <div>
        <div ng-repeat="api in service">
          <div class="badge {{ api.method | lowercase }}">
            <span class="resource-name">{{ api.method }}</span>
            <span class="service-name">{{ api.name }}</span>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <a href="" ng-click="addApi()">Add API</a>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <button class="primary-button" ng-click="save()">Save</button>
      <button class="delete-button" ng-click="delete()">Delete</button>
      <button class="files-button" ng-click="openFiles()">Open related files</button>
      <button class="crud-button" ng-click="createCrud()">Create CRUD</button>
    </div>
  </div>
</div>