// webView EditModel

.name {
  border-bottom: 1px solid black;
  width: 50%;
}

.input-desc {
  background-color: transparent;
  font-size: 13px;
}

// webView EditAPI

.button-param {
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.input-desc {
  background-color: transparent;
  font-size: 13px;
}
